@font-face {
    font-family: Comforta;
    src: url(./fonts/Comfortaa/static/Comfortaa-Regular.ttf);
}

body{
    font-family: Comforta;
    margin:0;
    padding:0;
    height: 100vh;
    color: #224229;
}
h3{
    margin:0;
    background-color:#F6CFB2;
    font-size: 2rem;
    padding: 2rem 0rem 0rem 2rem;
    font-weight: 800;
    text-align: center;
}

.plant-card{
    border: solid#224229 1px;
    border-radius: 10px;
    height: 10rem;
    max-width: 17rem;
    margin: 1rem;
    background-color: #ffe4d0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.plant-card .cardHeader{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    justify-self: center;
    font-weight: 800;
}

.plant-card .cardSub{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    font-size: .8rem;
    font-style: italic;
}

.plant-card .humidityDisplay, .plant-card .lightReqs{
    font-size: .9rem;
    margin: 0 0 0 1rem;
}


.remove-style{
    grid-row: 5/6;
    padding: .7rem;
    width: 33%;
    height: 40%;
    align-self: self-end;
    justify-self: self-end;
    margin: 0 .5rem .5rem 0;
    border-style: none;
    background-color: #d4996b;
    color: inherit;
    font-weight: 500;
    border-radius: 13px;
    line-height: 25%;
    font-family: Comforta;
}


.plant-card:hover{
    transform: scale(1.1)
}

.bg{
    height: 100vh;
}


.top{
    background-image: url(/Images/chris-abney-qLW70Aoo8BE-unsplash.jpg);
    background-size: 1200px;
    padding: 6rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.top > * {
    margin: auto;
    
}

.btn{
    padding: 1rem 2rem;
    border-radius: 25px;
    border-style: none;
    font-family: Comforta;
    background-color: #F6CFB2;
    font-weight: 800;
}

.btn:hover{
    background-color: #fcbd8d;
}

#modal{
    display: none;
    position: fixed;
    height: 75%;
    width: 75%;
    font-size: 1rem;
    left: 12.5%;
    top: 12.5%;
    border-radius: 10px;
    border: 1px #224229 solid;
    margin: auto;
    background-color: antiquewhite;
    grid-template-rows: .05fr .1fr 1fr;
    grid-template-columns: .125fr .75fr .125fr;
}

#modal > .x{
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: end;
    margin: 1rem 1rem 0 0;
    font-size: 1.5rem;
}

#modal .x:hover{
    transform: scale(1.2);
    font-weight: 600;
}

#modal > h4{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    font-size: 2rem;
}

#modal > form{
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.plant-attribute input{
    width: 10rem;
    background-color: antiquewhite;
    border-bottom: solid 1px #224229;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    padding-bottom: .5rem;
}

input::placeholder{
    font-size: 1.08rem;
    color: #224229;
}

#modal .modal-btns{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

.gh-wrapper{
    background-color: #F6CFB2;
    padding: 2rem 2rem 0 2rem;
    height: 100%;
}

.greenhouse{
    background-color: #fae3d1;
    background-size: 1200px;
    height: 100vh;
    display: grid;
    grid-template-columns: .33fr .33fr .33fr;
    grid-template-rows: .25fr .25fr .25fr .25fr;
    gap: 1rem;
    border: 2px #224229 solid;
    border-radius: 10px;
}

.greenhouse:hover{
    background-color: #fae3d1;
}

.toggle input{
    position: absolute;
    opacity: 0;
    width: 0;
    height:0;
}